fastapi
python-dotenv
uvicorn
PyJWT

langchain
langchain-google-genai
langchain-community
langchain-chroma

google-auth
google-auth-oauthlib
google-api-python-client

chromadb
pydantic
pydantic-settings

beautifulsoup4
lxml

loguru
